/* Variables CSS */
:root {
    --primary-color: #d4a373;
    --dark-color: #1a1a1a;
    --text-font: 'Poppins', sans-serif;
    --title-font: 'Playfair Display', serif;
}

body {
    font-family: var(--text-font);
    color: #333;
    line-height: 1.6;
}

h1,
h2,
h3,
.navbar-brand {
    font-family: var(--title-font);
}

/* Surcharge Bootstrap */
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background-color: #bc8a5f !important;
    transform: translateY(-2px);
}

.text-primary {
    color: var(--primary-color) !important;
}

/* Section Hero Custom */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(./log.jpeg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

/* Styles des Cards */
.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Style de base pour tous les champs */
.form-control,
.form-select {
    width: 400px;
    align-items: center;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    /* Coins légèrement arrondis */
    padding: 0.75rem 1rem;
    font-size: 0.95rem;
    transition: all 0.3s ease-in-out;
    background-color: #fdfdfd;
}

/* Style lors du clic (Focus) */
.form-control:focus,
.form-select:focus {
    border-color: var(--primary-color) !important;
    /* Utilise la variable dorée définie plus haut */
    box-shadow: 0 0 0 0.25 margin-bottom: 20px;
    rem rgba(212, 163, 115, 0.25) !important;
    /* Halo doré léger */
    background-color: #fff;
    outline: 0;
}

/* Style des labels au-dessus des champs */
.form-label {
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Style spécifique pour le Textarea (Message) */
textarea.form-control {
    resize: none;
    /* Empêche l'utilisateur de déformer le layout */
    border-left: 4px solid var(--primary-color);
    /* Petite barre décorative à gauche */
}

/* Style de la case à cocher (Checkbox) */
.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

/* Personnalisation du placeholder */
.form-control::placeholder {
    color: #adb5bd;
    font-style: italic;
    font-size: 0.85rem;
}

/* Footer Custom */
footer h5 {
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 20px;
}

/* Navbar personnalisation */
.nav-link {
    font-weight: 400;
    margin-left: 15px;
}

.nav-link.active {
    color: var(--primary-color) !important;
    border-bottom: 2px solid var(--primary-color);
}

/* Espacement global */
section {
    padding: 80px 0;
}